
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    li {
        list-style: none;    
    }

    a {
        text-decoration: none;
    }

}

:root {
    --heading-color: rgb(58, 58, 58);
    --margin-top:80px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Header */
.head-item {
    padding-top: 90px;

    h3 {
        color: rgb(58, 58, 58);
    }

    ul li {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: rgb(58, 58, 58);
    }

    .list ul li:hover {
        a {
            color: rgb(224, 44, 109);
        }
    }
}



@media only screen and (max-width: 575px) {
    .head-item {
        padding-top: 20px;
        .list {
            display: none;
        }

        .influencer {
            h3 {
                /* margin-left: 60px; */
            }
           
        }
    }
}

/* 
@media (max-width: 767.98px){
    .influencer {
      .stribe {
          a {
            display:none !important;
          }
      }
    }
  } */





/* Banner */
@media only screen and (max-width: 575px) {
    .header-img {
      img {
        width: 300px;
        height: 300px;
        
      }
      
    }

}

@media only screen and (max-width: 575px) {   
    .header-img{
        order: 1;
    }
    .influencer-head-area{
        h1 {
          padding-top: 50px;
        }
        order: 2;
     
    }
}


.banner {


   h1 {
    color: var(--heading-color);
    padding-top: 160px;
   }

   p {
    font-weight: 600;
    color: rgb(58, 58, 58);
   }

   button {
    color: #fff;
    background-color: rgb(224, 44, 109);
   }

   .header-img {
    img:first-child {
        position: absolute;
        /* bottom: 18%; */
        z-index: 1;
    }

    
   }
}


@media only screen and (max-width: 575px) {
   
    .banner {
         h1 {
             padding-top: 50px;
          
         }

         .influencer-head-area {
            button {
                margin: auto;
                margin-bottom: 0px;
                padding-bottom: -300px;
            }
         }
    }
 
 }

 @media only screen and (max-width: 575px) {
    .header-img {
        margin-top: 0px;
        padding: 0px;
    }
 }

/* Menu Section */

.s-menu {
    margin: var(--margin-top);
    ul li a {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;

    }
  
  
    .brand li a {
        list-style: none;
        text-decoration: none;
        text-transform: capitalize;
        color: black;
    }
    
    .brand li:hover {
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0.603), rgba(255, 166, 0, 0.648));
       a {
        color: #fff;
       }
    }    

}

@media only screen and (max-width: 575px) {
   
    .brand li {
        border: 1px solid black;
        margin: 0;
    }

}

@media only screen and (max-width: 575px) {
    .s-menu {
        margin-top: 0px;
    }
}

/* Popular Collection Start */
.popular-item {
    h2 {
        font-size: 28px;
        line-height: 70px;
        font-weight: 600;
        color: rgb(58, 58, 58);
        
    }
    .cart-area {
        border-radius: 5px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
        background: rgb(255, 255, 255);

        .five-star {
            i {
                color: orange;
            }
        }
        
    }

    button {
       color:  rgba(224, 44, 109, 0.87);
       font-size: 16px;
       line-height: 24px;
       font-weight: 700;

    }
}


/* Featured products */
.featured {
    h2 {
        font-size: 38px;
        line-height: 60px;
        font-weight: 700;
        color: rgb(10, 8, 38);
    }

    p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 700;
        color: rgb(108, 108, 108);
    }
        
    .last-btn {
        background: rgb(224, 44, 109);
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }

    span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }

}

/* Footer */
.footer {
    background-color: #0A0826;
    .footer-items {
        h3 {
            padding-top: 50px;
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            color: rgb(255, 255, 255);
        }

        p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: rgb(217, 219, 225);
        }

        ul {
            padding-bottom: 50px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.11);
                border-radius: 50%;
            
            }
        }

    }

}

  
