
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.influencer {
    margin-top: 90px;
  

}
h1 {
    margin-top: 100px;
}




.menu-list {
    margin-left: 70px;
}
.list {
    margin-top: 90px;
}

/* main camera section */

.for-img {
    position: relative;
    width: 480px;
    height: 480px;
   
  }
  
.main-img {
    position: absolute;  
    top: 150px;   
    width: 450px;
    height: 440px;
   
  }
  

.foot-er {
   
    background-color: rgb(10, 8, 38);
    height: 240px;
    
}


.footer-items {
    padding-top: 50px;
    width: 270px;
    margin: auto;
    ul {
        margin-left: 46px;
    }
}


.frist-btn {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    
}


.images ul {
    line-height: 100px;
    background-color: #fff;
    border-top: 1px solid rgb(249, 246, 246);
    border-bottom: 1px solid rgb(245, 239, 239);
    /* background-color: #F5F5F5; */
}

.images .ebay {
    margin-left: 180px;
}

.popular {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.see-more {
    font-size: 15px;
    margin-right: 4px;
    margin-left: 290px;
    color: #E02C6D;
    
}
.last-btn {
    /* background-color: #E02C6D; */
    background: rgb(224, 44, 109);
    border: none;
}


.footer .influencer {
   justify-content: center;

}

.main-sticer {
    margin: 30px;
    width: 330px;
   border-radius: 5px;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px rgb(236, 235, 235);
}

.text-four {
    padding: 10px 15px;
  h3 {
    margin: 0;
  }
  strong {
    font-size: 20px;
  }
  p {
    width: 196px;
  }
 
}

.five-star i {
    color: orange;
}

.abcd {
   
    margin-top: 150px;
    margin-bottom: 100px;

    h2 {
       
        font-size: 38px;
    }

    p {
        width: 500px;
        height: 88px;
       
    }
}